# Global
.*.swp
.DS_Store

# Application
web/app/composer.lock
web/app/.phpunit.result.cache
web/app/vendor/
web/app/doc/
web/app/report/
web/app/.env
data/db/mysql
.env

# Swoole Application
swoole/web/app/composer.lock
swoole/web/app/.phpunit.result.cache
swoole/web/app/vendor/
swoole/web/app/doc/
swoole/web/app/report/
swoole/web/app/src

# PHPStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# VSCode
.vscode/

# SSL Certs
etc/ssl/